[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Categories=GNOME;GTK;

# commande à exécuter lorsque le lanceur est pressé
Exec=xterm -e 'cd $HOME/Garmin-Forerunner-610-Extractor-master/ && python ./garmin.py'
# nom du lanceur
Name=GFrun

# description plus élaborée du lanceur
Comment=Garmin ForeRunner

# icône à appliquer au lanceur
Icon=/usr/share/icons/unity-icon-theme/apps/128/softwarecentre.svg
